Socialmedia Autopost using Notion/Social Media Autopost content.json
{
  "name": "Social Media Autopost content",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": true,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false,\n      \"autoAddMusic\": true\n    },\n  \"content\": {\n    \"text\": \"{{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n    \"platform\": \"tiktok\",\n    \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.tiktok }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        1104
      ],
      "id": "7aa0ae36-4b31-45f0-888b-62ab6953d3f9",
      "name": "Publish on TikTok"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        624
      ],
      "id": "ae8b7106-93cf-4943-84d6-5d0339839e9a",
      "name": "Upload to Blotato"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Title'].title[0].text.content }}\",\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.linkedin }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        144
      ],
      "id": "8ff481d0-ecd5-4079-8c23-17aec609c698",
      "name": "Linkedin"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.instagram }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        464
      ],
      "id": "61281eb1-87c4-47ff-8c40-698c3f2b7537",
      "name": "Instagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $json.facebook }}\",\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $json.facebook_page_id }}\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Title'].title[0].text.content }}. {{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"],\n      \"platform\": \"facebook\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        304
      ],
      "id": "c61ed666-06f8-4bdf-9984-69a086bc3adb",
      "name": "Facebook"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        128,
        624
      ],
      "id": "242944ed-3c57-42ea-95c0-7e0522fc085b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e40bd60d-9beb-4a55-88cd-7ad167d5e94b",
              "leftValue": "={{ $json.triggerDate }}",
              "rightValue": "={{ $json.notionDate }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "915b7913-c9c1-49aa-bb82-9eba67b0a259",
              "leftValue": "={{ $('Get All Posts').item.json.properties.Status.select.name }}",
              "rightValue": "Waiting",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        624
      ],
      "id": "fd6ac399-bd8c-4872-ad16-8732f6db2929",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  const notionDateTimeRaw = item.json.properties?.[\"Publish Date\"]?.date?.start;\n\n  let notionDateOnly = null;\n  let notionTimeOnly = null;\n\n  if (notionDateTimeRaw) {\n    // Extract date and time from ISO string manually to keep UTC+2\n    const [datePart, timePartWithZone] = notionDateTimeRaw.split(\"T\");\n    const timePart = timePartWithZone.split(\"+\")[0].split(\".\")[0]; // clean from +02:00 and milliseconds\n    notionDateOnly = datePart;\n    notionTimeOnly = timePart;\n  }\n\n  const triggerTimestamp = item.json[\"Schedule Trigger\"]?.timestamp || new Date().toISOString();\n  const triggerDate = new Date(triggerTimestamp);\n  const triggerDateOnly = triggerDate.toISOString().split(\"T\")[0];\n  const triggerTimeOnly = triggerDate.toTimeString().split(\" \")[0];\n\n  output.push({\n    notionDate: notionDateOnly,\n    notionTime: notionTimeOnly,\n    triggerDate: triggerDateOnly,\n    triggerTime: triggerTimeOnly\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        624
      ],
      "id": "8ea869fd-d4fc-4da4-94e3-a16ded555478",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1008,
        864
      ],
      "id": "c8331c74-32d1-4409-bfd5-43dd0da6e90f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Code').item.json.notionTime }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        624
      ],
      "id": "ce110ef7-ecc4-429d-983d-2f7acef3a04c",
      "name": "Wait",
      "webhookId": "2643cc9e-090d-44f0-909d-6efa3e356e50",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        624
      ],
      "id": "2d40a2ba-d04f-4e7d-a96a-d56e1ffcf63a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5VDrBdg2O86u4mdp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84ec2be6-ad6b-4ad4-8f8b-d31fafbfad20",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Linkedin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b600943-3604-4851-b84d-4da0948da2ef",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7f28656-aeab-4b2f-bd32-6111cb56ecc1",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c14ca3c0-ef10-45b5-8acb-f0d0c1339624",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Youtube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Pinterest",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2673ebe3-59ce-4105-9fe9-e4beeb8f3148"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pinterest"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0f6a9a2-fff0-4e7b-aed5-49887cb511eb",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "X (Twitter)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "617af759-fada-4a67-bc06-be2b0b40989b",
                    "leftValue": "={{ $('Get All Posts').item.json.properties.Platform.select.name }}",
                    "rightValue": "Tiktok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiktok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3008,
        544
      ],
      "id": "6254bd98-db00-4fa3-96c1-ab60b428c654",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"696861811032050496\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.pinterest }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        784
      ],
      "id": "8955e46a-5ff6-46db-9998-719b6d9e9efc",
      "name": "Pinterest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.twitter }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        944
      ],
      "id": "f5e79cf6-f66b-40af-be49-4a26b3e8bdcd",
      "name": "Twitter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Get All Posts').item.json.properties['Post Title'].title[0].text.content }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.youtube }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        624
      ],
      "id": "bef925f1-ae60-4d6c-b435-23a39d475f0e",
      "name": "Publish on Youtube"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Planned"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1008,
        624
      ],
      "id": "100768b4-59b2-46bf-b5c5-97833d373fe3",
      "name": "Update a database page"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3568,
        944
      ],
      "id": "01b076cf-74d0-4cbc-9e04-d98726fe4bf4",
      "name": "Update a database page1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3568,
        1104
      ],
      "id": "92da880a-30cd-444c-b136-610dd9336413",
      "name": "Update a database page2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3568,
        624
      ],
      "id": "a1fd73d9-929f-4099-93c8-183f7ffdf538",
      "name": "Update a database page3"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3568,
        464
      ],
      "id": "3ed4d9b7-cb27-419a-9446-2376b0cd7366",
      "name": "Update a database page4"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3568,
        304
      ],
      "id": "32b29b8a-e6b2-4773-930e-a71028b1cac3",
      "name": "Update a database page5"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3568,
        784
      ],
      "id": "22bda5ce-31cd-467b-a8e8-be70a63e892e",
      "name": "Update a database page6"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3568,
        144
      ],
      "id": "c8a9e9e8-8a2b-4b91-a994-21f65a05cd2b",
      "name": "Update a database page7"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"facebook\": \"3991\",\n  \"facebook_page_id\": \"692981360555594\",\n  \"youtube\": \"4416\",\n  \"tiktok\": \"5757\",\n  \"instagram\": \"7807\",\n  \"linkedin\": \"3159\",\n  \"pinterest\": \"977\",\n  \"twitter\": \"3909\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        624
      ],
      "id": "f9890ea2-0d13-4288-b3f7-aa8496b5ad2f",
      "name": "Set Your IDs"
    },
    {
      "parameters": {
        "content": "# Publish to One Social Media",
        "height": 1360,
        "width": 3860
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4e28d795-f181-4d3b-98bd-0a64054a1405",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"content_type\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1792,
        800
      ],
      "id": "ef6cfe4a-d423-4af0-9e4a-e0b7e8f50f8f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1584,
        800
      ],
      "id": "9c711204-56f3-4d7e-80bd-fd5688e8685a",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2192,
        784
      ],
      "id": "a9acb582-2258-432c-a2ae-afb7b8a4ed87",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5VDrBdg2O86u4mdp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2192,
        464
      ],
      "id": "dee02bc2-2e06-4010-ba27-89cc8ad6e0c5",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5VDrBdg2O86u4mdp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.cloudinary.com/v1_1/cloud_name/video/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n-yuotube"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        784
      ],
      "id": "03ac4727-49c4-449e-9439-f05907ffced8",
      "name": "Get Video URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.cloudinary.com/v1_1/cloud_name/video/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n-yuotube"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        464
      ],
      "id": "9ce1249a-bf8a-4c32-b0f2-230520761f1d",
      "name": "Get Image URL"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "22cccdb2-3d99-805b-a42b-c17fab0cff3b",
          "mode": "list",
          "cachedResultName": "Content to Post",
          "cachedResultUrl": "https://www.notion.so/ksdjns79798"
        },
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        320,
        624
      ],
      "id": "c492c66e-5fcc-4290-9884-37edeeaf8546",
      "name": "Get All Posts"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5c8a058-f5f1-45f5-a8b8-b690ed82ebd6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a39f267c-d27c-48aa-b6d8-be47b716e757",
                    "leftValue": "={{ $json.output.content_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1968,
        624
      ],
      "id": "e07c8d37-cba0-4abc-99c1-630c20c51f80",
      "name": "Video/Image"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Decide if the file provided is an image or a video. If it's an image return \"image\", if the video return \"video\", not any other elements or parts\n\nFile Name: {{$binary.data.fileName}}\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1600,
        624
      ],
      "id": "165c6c2e-0ed1-418c-9371-88ad3ce6978e",
      "name": "Controller AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        2032
      ],
      "id": "358d9ab5-487e-40b8-8080-2b0ca5ef7054",
      "name": "Upload to Blotato1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts1').item.json.properties['Post Title'].title[0].text.content }}\",\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato1').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.linkedin }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3328,
        1728
      ],
      "id": "325028f2-f71d-47c9-a675-58db32082282",
      "name": "Linkedin1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts1').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato1').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.instagram }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3328,
        1920
      ],
      "id": "b2cdedd1-f0a9-4a54-9e2c-d369ddd40dcd",
      "name": "Instagram1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        128,
        2032
      ],
      "id": "e6fc7fdb-d477-4032-8d0f-128b842a3b4d",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e40bd60d-9beb-4a55-88cd-7ad167d5e94b",
              "leftValue": "={{ $json.triggerDate }}",
              "rightValue": "={{ $json.notionDate }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "915b7913-c9c1-49aa-bb82-9eba67b0a259",
              "leftValue": "={{ $('Get All Posts1').item.json.properties.Status.select.name }}",
              "rightValue": "Waiting",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        2032
      ],
      "id": "b81566bf-bb08-4239-b5a7-51bf81eec07b",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  const notionDateTimeRaw = item.json.properties?.[\"Publish Date\"]?.date?.start;\n\n  let notionDateOnly = null;\n  let notionTimeOnly = null;\n\n  if (notionDateTimeRaw) {\n    // Extract date and time from ISO string manually to keep UTC+2\n    const [datePart, timePartWithZone] = notionDateTimeRaw.split(\"T\");\n    const timePart = timePartWithZone.split(\"+\")[0].split(\".\")[0]; // clean from +02:00 and milliseconds\n    notionDateOnly = datePart;\n    notionTimeOnly = timePart;\n  }\n\n  const triggerTimestamp = item.json[\"Schedule Trigger\"]?.timestamp || new Date().toISOString();\n  const triggerDate = new Date(triggerTimestamp);\n  const triggerDateOnly = triggerDate.toISOString().split(\"T\")[0];\n  const triggerTimeOnly = triggerDate.toTimeString().split(\" \")[0];\n\n  output.push({\n    notionDate: notionDateOnly,\n    notionTime: notionTimeOnly,\n    triggerDate: triggerDateOnly,\n    triggerTime: triggerTimeOnly\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        2032
      ],
      "id": "e648922e-df39-4a6e-9b0c-2d53ba6f1078",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1008,
        2272
      ],
      "id": "23f27a75-b78a-4147-8241-fccb14eecceb",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Code1').item.json.notionTime }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        2032
      ],
      "id": "9871c4cb-9570-4ac5-86bf-2d6ef2ea35c1",
      "name": "Wait1",
      "webhookId": "2643cc9e-090d-44f0-909d-6efa3e356e50",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts1').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        2032
      ],
      "id": "2cd76589-0c70-41d6-b0c0-e1b469872603",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5VDrBdg2O86u4mdp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts1').first().json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato1').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.twitter }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3328,
        2320
      ],
      "id": "5f0e7078-bf29-4805-8c6a-04f987910824",
      "name": "Twitter1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Get All Posts1').item.json.properties['Post Title'].title[0].text.content }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get All Posts1').item.json.properties['Post Content'].rich_text[0].text.content }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $('Upload to Blotato1').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $json.youtube }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3328,
        2128
      ],
      "id": "5290b675-ba3d-4e61-872b-a8a9454501cb",
      "name": "Publish on Youtube1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts1').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Planned"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1008,
        2032
      ],
      "id": "4637c68f-3f9c-4187-8b78-852bdd6bfc11",
      "name": "Update a database page8"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get All Posts1').item.json.id }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3568,
        2128
      ],
      "id": "b643b205-d349-4784-8eb0-1ddca0cc813f",
      "name": "Update a database page11"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"facebook\": \"3991\",\n  \"facebook_page_id\": \"692981360555594\",\n  \"youtube\": \"4416\",\n  \"tiktok\": \"5757\",\n  \"instagram\": \"7807\",\n  \"linkedin\": \"3159\",\n  \"pinterest\": \"1326\",\n  \"twitter\": \"3909\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        2032
      ],
      "id": "120d15d6-9c70-4bed-9158-bd0c288df3a8",
      "name": "Set Your IDs1"
    },
    {
      "parameters": {
        "content": "# Publish to ALL Social Media",
        "height": 1360,
        "width": 3860,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1408
      ],
      "id": "3adc053e-d4eb-402c-a873-2df6554cf54d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"content_type\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1792,
        2208
      ],
      "id": "5da04a2c-0948-4ad7-bb25-42a1de52d86e",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1584,
        2208
      ],
      "id": "a65c304d-c3fb-4f42-bd53-dac8fe7f2c9a",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts1').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2192,
        2192
      ],
      "id": "00b09559-4222-41dc-8b06-b1645448195e",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5VDrBdg2O86u4mdp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get All Posts1').item.json.properties['Media URL'].url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2192,
        1872
      ],
      "id": "6ba13eaa-c58d-484e-8c20-e4b29533901a",
      "name": "Download file5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5VDrBdg2O86u4mdp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.cloudinary.com/v1_1/cloud_name/video/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n-yuotube"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        2192
      ],
      "id": "849e5e03-ed44-42bd-958c-0f3d036a536c",
      "name": "Get Video URL1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.cloudinary.com/v1_1/cloud_name/video/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n-yuotube"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        1872
      ],
      "id": "9c6b8252-c3c0-4c5d-b749-ebfb36fd63d1",
      "name": "Get Image URL1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "22cccdb2-3d99-805b-a42b-c17fab0cff3b",
          "mode": "list",
          "cachedResultName": "Content to Post",
          "cachedResultUrl": "https://www.notion.so/ksdjns79798"
        },
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        320,
        2032
      ],
      "id": "4e431216-0b8b-473f-87aa-2c306010c108",
      "name": "Get All Posts1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5c8a058-f5f1-45f5-a8b8-b690ed82ebd6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a39f267c-d27c-48aa-b6d8-be47b716e757",
                    "leftValue": "={{ $json.output.content_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1968,
        2032
      ],
      "id": "159558e1-41c3-433f-950e-1468c7668601",
      "name": "Video/Image1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Decide if the file provided is an image or a video. If it's an image return \"image\", if the video return \"video\", not any other elements or parts\n\nFile Name: {{$binary.data.fileName}}\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1600,
        2032
      ],
      "id": "d0c6939a-a2c4-4a9e-a9f2-4d4b73276872",
      "name": "Controller AI Agent1"
    },
    {
      "parameters": {
        "content": "## Social Media autoposting\n**We store the content details in Notion Database and use it to autopost on a scheduled time**\n**If there is content for a specific schedule then it will execute, or it simply skips it**\n**If there is content and the scheduled time arrives, it will publish it to the platform selected and updates the database**\n**The alternate workflow will autopost in all platforms at once**",
        "height": 416,
        "width": 1520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        64
      ],
      "typeVersion": 1,
      "id": "63ae882b-48f2-47e1-a7ba-492e991f475b",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Publish on TikTok": {
      "main": [
        [
          {
            "node": "Update a database page2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Blotato": {
      "main": [
        [
          {
            "node": "Set Your IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin": {
      "main": [
        [
          {
            "node": "Update a database page7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Update a database page4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook": {
      "main": [
        [
          {
            "node": "Update a database page5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Controller AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Linkedin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish on Youtube",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pinterest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish on TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish on Youtube": {
      "main": [
        [
          {
            "node": "Update a database page3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter": {
      "main": [
        [
          {
            "node": "Update a database page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest": {
      "main": [
        [
          {
            "node": "Update a database page6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Your IDs": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Controller AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Controller AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Get Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video URL": {
      "main": [
        [
          {
            "node": "Upload to Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Upload to Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Posts": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video/Image": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controller AI Agent": {
      "main": [
        [
          {
            "node": "Video/Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Blotato1": {
      "main": [
        [
          {
            "node": "Set Your IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get All Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update a database page8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Controller AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish on Youtube1": {
      "main": [
        [
          {
            "node": "Update a database page11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page8": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Your IDs1": {
      "main": [
        [
          {
            "node": "Linkedin1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish on Youtube1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Controller AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Controller AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Get Video URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file5": {
      "main": [
        [
          {
            "node": "Get Image URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video URL1": {
      "main": [
        [
          {
            "node": "Upload to Blotato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL1": {
      "main": [
        [
          {
            "node": "Upload to Blotato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Posts1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video/Image1": {
      "main": [
        [
          {
            "node": "Download file5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controller AI Agent1": {
      "main": [
        [
          {
            "node": "Video/Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f0c4f3ed-4dea-4e17-8ba9-116a1070fbe1",
  "meta": {
    "instanceId": "cefbc2892fe053e1c6c624213fba530d7cce438dd89431516794583232369227"
  },
  "id": "y_GrvMgmdOJb_1jun-mXD",
  "tags": []
}